h1 {color: fuchsia;
font-size: 20px;
font-family: Montserrat;
}
.score {color: #c0c0c0}
.gold {color:gold}

#gameLink {
    text-align: center;
    border: 1px solid fuchsia;
}

#fuchsia {
    color: fuchsia;
    font-size: 100px;
    font-family: serif;
}

#league{
    width:200px;
    margin:0 auto;
    text-align:center;
    font-size: 30px
}